.bg-dark-gray {
    background-color: #2d2d2d;
}

.text-gold {
    color: #d4af37;
}

.hover\:text-gold:hover {
    color: #d4af37;
}

.hover\:bg-gold:hover {
    background-color: #d4af37;
}

.bg-cover {
    background-size: cover;
}

.bg-center {
    background-position: center;
}

.fade-in {
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.slide-up {
    animation: slideUp 1s ease-in-out;
}

@keyframes slideUp {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.hover-grow:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.hover-grow-button:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.typing {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: rgb(0, 0, 0);
    }
}






